<div class="content">
    Salut Toto {{ count }}
    {{ data.txt }}
    <table class="table">
        <tr>
            <td>plop</td>
            <td>plop</td>
        </tr>
        <tr>
            <td>plop</td>
            <td>plop</td>
        </tr>
    </table>
</div>
